<%- include('../includes/header.ejs') %>
<body>
        <%- include('../includes/headbody.ejs') %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <form action="/login" method="POST">
                    <% if(error_message !=''){%>
                        <div class="alert alert-danger text-center"><%=error_message; %></div>
                    <% }%>
                    <div class="form-group col-md-5">
                        <label for="abc">Email </label>
                        <input type="email" name="email" title="Please enter your email" id="abc" value="<%- oldInput.email; %>">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="">Password </label>
                        <input type="password" name="password" title="Please enter your password" value="<%- oldInput.password; %>">
                    </div>
                    <input type="hidden" value="<%- csrfToken%>" name="_csrf">
                    <div class="form-group col-md-2">                      
                        <div class="btn-group">
                                <button type="submit" class="btn btn-outline-danger" style="width: 76px;">Login</button> 
                                <a href="/reset" class="btn btn-outline-secondary">Reset Password</a>                    
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>


    <%- include('../includes/footer.ejs');%>
</body>

</html>